{% extends 'base.html.twig' %}
{% block title %}Confirmation de commande{% endblock %}

{% block body %}
    <main class="__order_done_page">
        <main class="__container">
            <p>
                Votre commande a bien été prise en compte.
            </p>
        </main>
    </main>
{% endblock %}


