{% extends 'back_shop_base.html.twig' %}
{% block title %}Modification de produit{% endblock %}

{% block body %}
    <main class="__back_shop_container">
        <main class="__back_shop_page">
            <div class="__form_container">
                {% include 'product/__edit_product.html.twig' %}
            </div>
        </main>
    </main>
{% endblock %}
