{{ form_start(form) }}
<div class="__row-3">
    <div class="__column">
        {{ form_widget(form.shopName) }}
    </div>
    <div class="__column">
        {{ form_widget(form.shopLocation) }}
    </div>
    <div class="__column_btn">
        <button class="btn validate_btn" type="submit"><i class="fas fa-search"></i></button>
    </div>
</div>
{{ form_end(form) }}