<div class="__client_card">
    <div class="__client_number">
        <h5>{{ client.id }}</h5>
    </div>
    <div class="__client_infos">
        <img src="{{ asset('images/avatar_def.png') }}" alt="client avatar">
        <div class="__infos">
            <h5>{{ client.username }}</h5>
            <p>Tel: (+224) {{ client.phoneNumber }}</p>
        </div>
    </div>
</div>

