{% extends 'back_shop_base.html.twig' %}

{% block title %}Nouvelle boutique{% endblock %}

{% block body %}
    <main class="__back_shop_container">
        <main class="__back_shop_page">
            <div class="__form_container">
                {% include 'shop/__new_shop_form.html.twig' %}
            </div>
        </main>
    </main>
{% endblock %}
