<div class="__stock_card">
    <div class="__svg">
        <img src="{{ asset('images/svg_images/bags.svg') }}" alt="svg">
    </div>
    <p>
        <a href="">
            <span>{{ acc.type }}</span>
            <span>{{ acc.size }}</span>
            <span class="badge badge-danger">{{ acc.quantity }} pièces</span>
        </a>
    </p>
</div>

