<div class="__stock_card">
    <div class="__svg">
        <img src="{{ asset('images/svg_images/male-clothes.svg') }}" alt="svg">
    </div>
    <p>
        <a href="">
            <span>{{ cloth.type }}</span>
            <span>{{ cloth.size }}</span>
            <span class="badge badge-danger">{{ cloth.quantity }} pièces</span>
        </a>
    </p>
</div>
