<div class="__stock_card">
    <div class="__svg">
        <img src="{{ asset('images/svg_images/shoes.svg') }}" alt="svg">
    </div>
    <p>
        <a href="">
            <span>{{ sh.type }}</span>
            <span>{{ sh.size }}</span>
            <span class="badge badge-danger">{{ sh.quantity }} pièces</span>
        </a>
    </p>
</div>

